body {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Playpen Sans";
  background: rgb(240, 215, 198);
  color: #8e72b4;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8068a1;
  float: center;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(240, 215, 198);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #645b53;
}
h1 {
  margin: 0;
  margin-top: 12px;
}
p {
  margin: 3px;
}
img {
  width: 550px;
}
a:hover {
  color: #645b53
}
a {
  color:#584377
}