img {
    width: 250px;
}
 button {
  width: 50px;
  display: float; 
  position: fixed; 
  bottom: 20px;
  right: 30px;
  background-color: rgb(247, 238, 232); 
  color: rgb(0, 0, 0); 
  cursor: pointer;
  border-radius: 15px; 
  font-size: 25px;
 }